<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Estat.Sri.Ws.Controllers.Constants.HeaderSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MappingStoreServer" connectionString="Data Source=.;Initial Catalog=madb30;User Id=mauser;Password=123" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <trust level="Full" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />

    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
          <!-- No buffering we stream responses-->
        <standardEndpoint transferMode="StreamedResponse" maxBufferSize="1024" name="" helpEnabled="true" automaticFormatSelectionEnabled="true">
        
        </standardEndpoint>

      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
    <applicationSettings>
        <Estat.Sri.Ws.Controllers.Constants.HeaderSettings>
            <setting name="test" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="truncated" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value>Trans46302</value>
            </setting>
            <setting name="sendercontactdepartment" serializeAs="String">
                <value>Statistics</value>
            </setting>
            <setting name="sendercontacttelephone" serializeAs="String">
                <value>210 2222222</value>
            </setting>
            <setting name="sendercontactfax" serializeAs="String">
                <value>210 00010999</value>
            </setting>
            <setting name="sendercontactx400" serializeAs="String">
                <value />
            </setting>
            <setting name="sendercontacturi" serializeAs="String">
                <value>http://www.sdmx.org</value>
            </setting>
            <setting name="receivercontacttelephone" serializeAs="String">
                <value>210 1234567</value>
            </setting>
            <setting name="receivercontactfax" serializeAs="String">
                <value>210 3810999</value>
            </setting>
            <setting name="receivercontactx400" serializeAs="String">
                <value>lalala</value>
            </setting>
            <setting name="receivercontacturi" serializeAs="String">
                <value>http://www.sdmx.org</value>
            </setting>
            <setting name="datasetagency" serializeAs="String">
                <value>ESTAT</value>
            </setting>
            <setting name="datasetaction" serializeAs="String">
                <value>Append</value>
            </setting>
            <setting name="reportingbegin" serializeAs="String">
                <value>2000-12-01T00:00:00</value>
            </setting>
            <setting name="reportingend" serializeAs="String">
                <value>2006-01-01T00:00:00</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="id" serializeAs="String">
                <value>IT1001</value>
            </setting>
            <setting name="prepared" serializeAs="String">
                <value>2001-03-11T09:30:47-05:00</value>
            </setting>
            <setting name="senderid" serializeAs="String">
                <value>ISTAT</value>
            </setting>
            <setting name="sendername" serializeAs="String">
                <value>Italian Statistical Institute</value>
            </setting>
            <setting name="sendercontactname" serializeAs="String">
                <value>Francesco Rizzo</value>
            </setting>
            <setting name="sendercontactrole" serializeAs="String">
                <value>IT Staff</value>
            </setting>
            <setting name="sendercontactemail" serializeAs="String">
                <value>rizzo@istat.it</value>
            </setting>
            <setting name="receiverid" serializeAs="String">
                <value>ESTAT</value>
            </setting>
            <setting name="receivername" serializeAs="String">
                <value>Eurostat</value>
            </setting>
            <setting name="receivercontactname" serializeAs="String">
                <value>Bengt-Ake Lindblad</value>
            </setting>
            <setting name="receivercontactdepartment" serializeAs="String">
                <value>Information Technology</value>
            </setting>
            <setting name="receivercontactrole" serializeAs="String">
                <value>IT Staff</value>
            </setting>
            <setting name="receivercontactemail" serializeAs="String">
                <value>bengt-ake.lindblad@ec.europa.eu</value>
            </setting>
            <setting name="datasetid" serializeAs="String">
                <value>ISTAT_JD_237</value>
            </setting>
            <setting name="extracted" serializeAs="String">
                <value>2001-03-11T09:30:47-05:00</value>
            </setting>
            <setting name="source" serializeAs="String">
                <value>source</value>
            </setting>
            <setting name="keyfamilyref" serializeAs="String">
                <value>kfRef</value>
            </setting>
            <setting name="keyfamilyagency" serializeAs="String">
                <value>kfAg</value>
            </setting>
        </Estat.Sri.Ws.Controllers.Constants.HeaderSettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mscorlib" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
