@model DM_API_WS.Wizard.Model.ConfigData
@{
    ViewData["Title"] = "Utility";
}

<h1>DM API Utility</h1>

<a href="~/Wizard/CheckMetaData">Check MetaData API</a>
<br />
<a href="~/Wizard/CheckEndPoint">Check EndPoint</a>
<br />
<a href="~/Wizard/ChangePassword">Change Password</a>
<br /><br />
<a href="~/Wizard/Home">Back to Home</a>
