.html-table table {
    width: 100%;
    border-spacing: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    border-right: 1px solid rgba(0, 0, 0, .12);
}

.html-table .c {
    border-top: 1px solid rgba(0, 0, 0, .12);
    border-left: 1px solid rgba(0, 0, 0, .12);
    background: #FFFFFF;
    text-align: end;
    vertical-align: top;
    font-size: 13px;
    padding: 2px 8px !important;
}

.html-table .c.ch {
    background: #EEEEEE;
    text-align: start;
    font-weight: 500;
    z-index: 1;
}

.html-table .c.csh {
    background: #F5F5F5;
    text-align: start;
    font-weight: 400;
}

.html-table .c.cs {
    background: #E0E0E0;
    text-align: start;
    font-weight: 500;
    z-index: 1;
}

.html-table .c.c:not(.ch):not(.csh):not(.cs):not(.c-rb):not(.c-bb):hover {
    background: #F5F5F5;
}