.input-list-form__input--addon-after--enabled + span {
    background-color: #FFF
}

.input-list-form__input--addon-after--disabled + span {
    background-color: #F5F5F5
}

.input-list-form__collapse-panel__header__text > .ant-collapse-header {
    color: rgba(0, 0, 0, 0.5) !important;
    font-style: italic;
    font-size: small;
}
