.collapsible-text .ant-collapse-header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.collapsible-text .arrow {
    top: 12px !important;
}

.collapsible-text .ant-collapse-item:not(.ant-collapse-item-active) .ant-collapse-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collapsible-text .ant-collapse-item-active .ant-collapse-header {
    white-space: pre-line;
}

.collapsible-text .ant-collapse-content-active {
    display: none;
}

.collapsible-text--single-line .arrow {
    visibility: hidden !important;
}
