<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Add a new connection string here-->
    <!--<add name="sqlserver" connectionString="Data Source=sodi-test;Initial Catalog=MASTORE;User Id=mauser;Password=123" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="RetrieverFactory" value="MappingStoreRetrieversFactory" />
  </appSettings>
</configuration>