
.text-center{
    padding: 15px;
    padding-top: 35px;;
}

.text-center h1{
    font-size: 2.8em;
    text-transform: uppercase;
    color: #262626;
}

.header-container{
    width: 100%;
}

.ma-header{
    background-color: white;
}

.ma-header img{
    max-height:85px;
    margin: 15px;
}