.file-system-tree__item__actions {
    opacity: 0;
    transition: opacity .5s linear;
}

.file-system-tree__item:hover {
    background-color: rgb(255, 234, 230);
}

.file-system-tree__item:hover .file-system-tree__item__actions {
    opacity: 1;
}

.file-system-tree__breadcrumb .ant-breadcrumb-separator {
    margin: 2px
}
