.button-color-green:not([disabled]) {
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
    color: white !important;
}

.button-color-light-green:not([disabled]) {
    background-color: #b8c633 !important;
    border-color: #b8c633 !important;
    color: white !important;
}

.button-color-blue:not([disabled]) {
    background-color: #37a0f4 !important;
    border-color: #37a0f4 !important;
    color: white !important;
}

.button-color-light-blue:not([disabled]) {
    background-color: #19c2d8 !important;
    border-color: #19c2d8 !important;
    color: white !important;
}

.button-color-red:not([disabled]) {
    background-color: red !important;
    border-color: red !important;
    color: white !important;
}

.button-color-orange:not([disabled]) {
    background-color: #ff9800 !important;
    border-color: #ff9800 !important;
    color: white !important;
}

.button-color-white:not([disabled]) {
    background-color: white !important;
    border-color: #d9d9d9 !important;
    color: #7e7878 !important;
}
