
.table__header__table-actions > *:not(:first-child),
.table__header__table-actions > div > *:not(:first-child) {
    margin-left: 8px;
}

.table__row__actions > *:not(:first-child),
.table__row__actions > div > *:not(:first-child) {
    margin-left: 8px;
}

.table__header__table-actions__container {
    display: none;
}

.table__row__actions {
    opacity: 0;
    transition: opacity .5s linear;
}

.table--has-selected-rows .table__header__table-actions__container {
    display: inline-block;
}

.ant-table-row:hover .table__row__actions {
    opacity: 1;
    transition: opacity .5s linear;
}

.table__row__clickable {
    cursor: pointer
}

.table th,
.table td {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    transition: none !important;
    -webkit-transition: none !important;
}

.table__cell__aligned {
    display: inline-block !important;
}

.table td:not(.ant-table-selection-column):not(.table__col__fixed-actions):not(.table__col__actions) {
    min-width: 92px;
}

.table thead {
    white-space: nowrap !important;
}

.table .ant-table-header {
    overflow: auto !important;
}

.table .ant-table-column-sorter {
    position: absolute !important;
    right: 26px !important;
    top: 18px !important;
}

.table .anticon-filter {
    top: -2px !important;
}

.table .ant-table-header {
    margin-bottom: 0 !important;
    overflow-x: hidden !important;
}

.table .ant-table-scroll {
    background: #fafafa;
}

.table .table-column-title {
    display: inline-block;
}
