.item-list__tree .ant-card-body {
    max-height: 380px;
}

.item-list__tree__not-hierarchical-drag-over .ant-tree li.drag-over > span[draggable] {
    background: none !important;
    color: black !important;
    border-bottom-color: red !important;
}