<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- Needed for REST data queries and '+' sign see -->
      <security>
        <requestFiltering allowDoubleEscaping="true" />
      </security>
      <!-- Uncomment the following block if errors related to 405 Method not allowed and/or WebDAVModule appear-->
      <!--
      <modules runAllManagedModulesForAllRequests="false">
        <remove name="WebDAVModule" />
      </modules>
      -->
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Estat.Sri.Mapping.Ws.ServiceCore.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 5076602B-1FFF-4A26-AADA-9F33B26C14E0-->