<?xml version="1.0"?>
<connectionStrings>
  <!-- Mapping Store connection can also go in the c:\programdata\eurostat\maws.config -->
  <!-- Note c:\programdata\eurostat\maws.config entries maybe be encrypted -->
  <!-- MAWS cannot alter connection strings specified here -->
  <!-- Only AUTHDB needs to be set here -->
  <!-- Note the "name" is the MAWS sid/store id -->
  <!-- Replace HOST with hostname or IP address of the server/PC running mapping store database -->
  <!-- Replace MADB with Mapping store database -->
  <!-- Replace USER with Mapping store database user name -->
  <!-- Replace PASS with Mapping store database user password -->
  <!-- Uncomment only one <add.../> at a time.-->
  <!-- Sql Server without any instance-->
  <!--<add name="MappingStoreServer" connectionString="Data Source=HOST;Initial Catalog=MADB;Integrated Security=False;User ID=USER;Password=PASS"
     providerName="System.Data.SqlClient" />-->
  <!-- Sql Server Express-->
  <!--<add name="MappingStoreServer" connectionString="Data Source=HOST\sqlexpress;Initial Catalog=MADB;Integrated Security=False;User ID=USER;Password=PASS"
     providerName="System.Data.SqlClient" />-->
  <!-- Sql Server Express on localhost using integral security-->
  <!--<add name="MappingStoreServer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MADB;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
  <!-- Oracle Express using the Oracle ODP.NET provider -->
  <!--<add name="MappingStoreServer" connectionString="Data Source=HOST/MADB;User ID=USER;Password=PASS"
         providerName="Oracle.ManagedDataAccess.Client" />-->
  <!-- MySQL -->
  <!--<add name="MappingStoreServer" connectionString="server=HOST;user id=USER;password=PASS;database=MADB" providerName="MySql.Data.MySqlClient"/>-->
  <!-- The same applies to Authorization/Authentication database. Default name : 'authdb' but can be changed at dbAuth config below-->

  <!-- Example of using authtest db on localhost sqlexpress db-->
  <!--<add name="authdb" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=authtest;Integrated Security=False;User ID=USER;Password=PASS"
     providerName="System.Data.SqlClient" />-->
  <!-- samples -->
  <!-- Mapping Store samples -->
  <!--<add name="sqlserver" connectionString="Data Source=sodi-test;Initial Catalog=MASTORE;User Id=mauser;Password=123" providerName="System.Data.SqlClient" />-->
  <!--<add name="MappingStoreServer" connectionString="Data Source=sodi-test;Initial Catalog=MSDB_SCRATCH;User Id=mauser;Password=123" providerName="System.Data.SqlClient" />-->
  <!--<add name="MappingStoreServer" connectionString="Data Source=sodi-test;Initial Catalog=MASTORE;User Id=mauser;Password=123" providerName="System.Data.SqlClient" />
      <add name="odp" connectionString="Data Source=sodi-test/xe;User ID=MASTORE;Password=123" providerName="Oracle.ManagedDataAccess.Client" />
      <add name="mysql" connectionString="server=sodi-test;user id=mauser;password=123;database=MASTORE;default command timeout=120" providerName="MySql.Data.MySqlClient" />-->

  <!-- AUTHDB samples -->
  <add name="authdb" connectionString="Data Source=src;Initial Catalog=AUTHDB;User Id=user;Password=pw" providerName="System.Data.SqlClient" />
    <add name="MappingStoreServer" connectionString="Data Source=src;Initial Catalog=MASTORE;Integrated Security=False;User ID=user;Password=pw" providerName="System.Data.SqlClient" />
  <!--<add name="authdb" connectionString="Data Source=oraclehost/xe;User ID=AUTHDB;Password=123" providerName="Oracle.ManagedDataAccess.Client" />-->
  <!--<add name="authdb" connectionString="server=mariadbhost;user id=mauser;password=123;database=AUTHDB;default command timeout=120" providerName="MySql.Data.MySqlClient" />-->

</connectionStrings>
