<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../vendor/Font-Fira-Sans-Condensed.css">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap303.min.css" />

    <link rel="stylesheet" type="text/css" href="../css/mystyle.css" />
	<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <script src="../vendor/jquery.min.js"></script>
    <script src="../vendor/bootstrap303.min.js"></script>
    <script src="../vendor/mustache.min.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/common.js"></script>
    <script id="template-it" type="text/html; charset=UTF-8">
        {{#result}}
        <div class="pane-title">
            Datasets ({{count}})
        </div>
        <div class="pane-content">
            <div class="view">
                {{#results}}
                <div>
				<div class="reportTab">
                    <div class="vista-generale">
                        <article>
                            <header>
                                <a target="_blank" href="{{>getMetadataUrl}}&lang={{>language}}&metadataSetId={{metadatasetId}}&reportId={{reportId}}">
									<img src="../images/icon-link.PNG" alt="Nome Report" title="Dettaglio" height="30" width="30">{{name}}
								</a>
                            </header>
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even">
                                        {{notes}}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div id="pubDate-{{metadatasetId}}"><span class="field-label">Pubblicato da: </span>{{author}}</div>
                                <div id="updateDate-{{metadatasetId}}"><span class="field-label">Data di ultima modifica: </span>{{metadata_modified}}</div>
                                <div><span class="field-label">Tema: </span><ul>{{#groups}}<li id="list-group-{{id}}">{{id}}</li>{{/groups}}</ul></div>
                            </div>
                        </article>
                    </div>
				</div>
                </div>
                {{/results}}
            </div>
        </div>
        {{/result}}
    </script>
    <script id="template-en" type="text/html; charset=UTF-8">
        {{#result}}
        <div class="pane-title">
            Datasets ({{count}})
        </div>
        <div class="pane-content">
            <div class="view">
                {{#results}}
                <div>
				<div class="reportTab">
                    <div class="vista-generale">
                        <article>
                            <header>
                                <a target="_blank" href="{{>getMetadataUrl}}&lang={{>language}}&metadataSetId={{metadatasetId}}&reportId={{reportId}}">
									<img src="../images/icon-link.PNG" alt="Report Name" title="Detail" height="30" width="30">{{name}}
								</a>
                            </header>
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even">
                                        {{notes}}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div id="pubDate-{{metadatasetId}}"><span class="field-label">Published by: </span>{{author}}</div>
                                <div id="updateDate-{{metadatasetId}}"><span class="field-label">Date of last modification: </span>{{metadata_modified}}</div>
                                <div><span class="field-label">Theme: </span><ul>{{#groups}}<li id="list-group-h">{{id}}</li>{{/groups}}</ul></div>
                            </div>
                        </article>
                    </div>
				</div>
                </div>
                {{/results}}
            </div>
        </div>
        {{/result}}
    </script>
    <script type="text/javascript">

        const params = window.location.search;
        const urlParams = new URLSearchParams(params);
        let configs = null;
        //let clientConfigs = null;
        let nodeIdToUse = null;
        let baseUrl = null;

        try {
            const lang = urlParams.get('lang');
            if (lang == null || lang.trim().length == 0)
                throw "Parameter lang not specified!";
            const metadataSetId = urlParams.get('metadataSetId');
            if (metadataSetId == null || metadataSetId.trim().length == 0)
                throw "Parameter metadataSetId not specified!";
            let baseUrlMDA = urlParams.get('BaseUrlMDA');
            let baseUrlMDM = urlParams.get('BaseUrlMDM');

            loadJSON('../metadataapi.json',
                function (response) {
                    configs = JSON.parse(response);

                    if (baseUrlMDA) {
                        if (baseUrlMDA.endsWith("/")) {
                            baseUrlMDA = baseUrlMDA.substring(0, baseUrlMDA.length - 1);
                        }
                        loadJSON(baseUrlMDA + '/Ping',
                            function (response) {
                                if (response && response === "true") {
                                    configs.baseUrl = baseUrlMDA;
                                }
                            }
                        );
                    }
                    if (baseUrlMDM) {
                        if (baseUrlMDM.endsWith("/")) {
                            baseUrlMDM = baseUrlMDM.substring(0, baseUrlMDM.length - 1);
                        }
                        configs.baseUrlClient = baseUrlMDM;
                    }

                    this.baseUrl = configs.baseUrl;

                    const nodeId = urlParams.get('nodeId');
                    try {
                        let nodeApiConfigUrl = "/nodeApiConfig";
                        if (nodeId && nodeId.trim().length > 0) {
                            nodeApiConfigUrl += "?nodeId=" + nodeId;
                        }
                        const nodeUrl = concatPaths(this.baseUrl, nodeApiConfigUrl);
                        loadJSON(nodeUrl,
                            function (response) {
                                nodeConfigs = JSON.parse(response);
                                const nodes = nodeConfigs.nodes;
                                if (nodes != null) {
                                    for (const nodeIndex in nodes) {
                                        const node = nodes[nodeIndex];
                                        if (this.nodeIdToUse == null) {
                                            this.nodeIdToUse = node.general.id;
                                        }
                                        if (nodeId != null && nodeId.trim().length > 0 && node.general.id === nodeId) {
                                            this.nodeIdToUse = nodeId;
                                            if (node.endpoint.metadataBaseURL != null) {
                                                this.baseUrl = node.endpoint.metadataBaseURL.trim();
                                            }
                                            break;
                                        }
                                    }
                                }
                            }
                        );

                        
                    } catch (e) {
                        alert(e);
                    }
                }
            );
        } catch (e) {
            alert(e);
        }

        function loadMustache(theme, lang) {
            try {
                let report = null;
                const metadataSetId = urlParams.get('metadataSetId');
                const metadataApiUrl = concatPaths(this.baseUrl, '/' + lang, '/' + metadataSetId, '/api/3/action/package_search?q=groups:"' + theme + '"');
                let getMetadataUrl = concatPaths(configs.baseUrlClient, configs.metadataInfoPage);
                if (this.nodeIdToUse && this.nodeIdToUse.trim().length > 0) {
                    getMetadataUrl += "?nodeId=" + this.nodeIdToUse;
                }
                const urlMDA = urlParams.get('BaseUrlMDA');
                if (urlMDA && urlMDA.trim().length > 0) {
                    if (getMetadataUrl.indexOf("?") > 0) {
                        getMetadataUrl += "&";
                    } else {
                        getMetadataUrl += "?";
                    }
                    getMetadataUrl += "BaseUrlMDA=" + urlMDA;
                }
                const urlMDM = urlParams.get('BaseUrlMDM');
                if (urlMDM && urlMDM.trim().length > 0) {
                    if (getMetadataUrl.indexOf("?") > 0) {
                        getMetadataUrl += "&";
                    } else {
                        getMetadataUrl += "?";
                    }
                    getMetadataUrl += "BaseUrlMDM=" + urlMDM;
                }
                loadJSON(metadataApiUrl,
                    function (response) {
                        report = JSON.parse(response);
                        for (const resIndex in report.result.results) {
                            let currRes = report.result.results[resIndex];
                            computeJsonObject(currRes);
                            for (var extIndex = 0; extIndex < currRes.extras.length; extIndex++) {
                                let currExt = currRes.extras[extIndex];
                                if (currExt.key == "report_id") {
                                    currRes.reportId = currExt.value;
                                }
                                if (currExt.key == "metadataset_id") {
                                    currRes.metadatasetId = currExt.value;
                                }
                            }
                        }
                        const template = document.getElementById('template-' + lang).innerHTML;
                        const output = Mustache.render(template, report, {
                            "getMetadataUrl": getMetadataUrl,
                            "language": lang
                        });
                        document.getElementById('target').innerHTML = output;
                        clearTemplateData();
                    }, function (error) {
                        alert(error);
                    }
                );
            } catch (e) {
                alert(e);
            }
        }

        function clearTemplateData() {
            try {
                let selectMsgElems = document.querySelectorAll('[id ^= "select-theme-"]');
                selectMsgElems.forEach(currSelectMsgElems => currSelectMsgElems.style.display = "none");

                let pubDateElems = document.querySelectorAll('[id ^= "pubDate-"]');
                pubDateElems.forEach((currPubDateElems) => {
                    let textField = currPubDateElems.innerText;
                    if (textField) {
                        var valueField = textField.substring(textField.indexOf(":"), textField.length);
                        if (valueField && valueField.trim() === ":") {
                            currPubDateElems.style.display = "none";
                        }
                    }
                });

                let updateDateElems = document.querySelectorAll('[id ^= "updateDate-"]');
                updateDateElems.forEach((currUpdateDateElems) => {
                    let textField = currUpdateDateElems.innerText;
                    if (textField) {
                        var valueField = textField.substring(textField.indexOf(":"), textField.length);
                        if (valueField && valueField.trim() === ":") {
                            currUpdateDateElems.style.display = "none";
                        }
                    }
                });

                let groupElems = document.querySelectorAll('[id ^= "list-group-"]');
                for (var currElems in groupElems) {
                    let textField = groupElems[currElems].innerText;
                    if (!textField || textField.trim().length == 0) {
                        groupElems[currElems].style.display = "none";
                    }
                }
            } catch (e) {
                //console.log(e);
            }
        }
        function loadLanguageMenu() {
            const metadataSetId = urlParams.get('metadataSetId');
            if (metadataSetId && metadataSetId.trim().length > 0) {
                let headerTitleCatalog = document.getElementById('header-title-catalog');
                headerTitleCatalog.innerText = metadataSetId;
            }
            const lang = urlParams.get('lang');
            //document.getElementById('choose-language').value = lang;
            //changeLanguageMenu();
            changeLanguageMenuIcon(lang);
        }

        function changeLanguageMenu() {
            var e = document.getElementById("choose-language");
            var currLanguage = e.value;

            let langElems = document.querySelectorAll('[id ^= "menu-"]');
            langElems.forEach(currLangElems => currLangElems.style.display = "none");

            let menuEl = document.getElementById("menu-" + currLanguage);
            menuEl.style.display = "block";
        }

        function changeLanguageMenuIcon(currLanguage) {
            let langSpaElems = document.querySelectorAll('[id ^= "spa-language-"]');
            langSpaElems.forEach(currLangSpaElems => currLangSpaElems.style.display = "none");

            let langSpaEl = document.getElementById("spa-language-" + currLanguage);
            langSpaEl.style.display = "block";

            let titleElems = document.querySelectorAll('[id ^= "title-menu-"]');
            titleElems.forEach(currTitleElems => currTitleElems.style.display = "none");

            let titleEl = document.getElementById("title-menu-" + currLanguage);
            titleEl.style.display = "block";

            let menuElems = document.querySelectorAll('[id ^= "menu-"]');
            menuElems.forEach(currMenuElems => currMenuElems.style.display = "none");

            let menuEl = document.getElementById("menu-" + currLanguage);
            menuEl.style.display = "block";

            let selectMsgElems = document.querySelectorAll('[id ^= "select-theme-"]');
            selectMsgElems.forEach(currSelectMsgElems => currSelectMsgElems.style.display = "none");

            let selectMsgEl = document.getElementById("select-theme-" + currLanguage);
            selectMsgEl.style.display = "block";
        }

    </script>
</head>
<body onload="loadLanguageMenu()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
                <div id="header-img-catalog">
                    <img src="../images/istat_logo_mini.png" class="Cl-Header-Img-Catalog">
                </div>
            </div>
            <div class="col-10">
                <div id="header-title-catalog" class="Cl-Header-Title-Catalog"></div>
            </div>
            <div class="col-1">
                <div class="btn-group Cl-flag-btn-group">
                    <button type="button" class="btn btn-default Cl-dropdown-menu Cl-flag-btn" data-toggle="dropdown">
                        <div id="spa-language-it"><i class="Cl-FlagIT Cl-Flag"></i><i class="caret"></i></div>
                        <div id="spa-language-en"><i class="Cl-FlagEN Cl-Flag"></i><i class="caret"></i></div>
                    </button>
                    <ul class="dropdown-menu Cl-dropdown-menu" role="menu">
                        <li><a href="#" onclick="changeLanguageMenuIcon('it')">Italiano</a></li>
                        <li><a href="#" onclick="changeLanguageMenuIcon('en')">English</a></li>
                    </ul>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-4 radix-layouts-sidebar panel-panel">
                    <div class="panel-panel-inner">
                        <div class="ctools-collapsible-container pane-facetapi pane-block ctools-collapsible-processed">
                            <div id="title-menu-it" class="ctools-toggle">
                                <b class="Cl-Title-Theme">Temi</b>
                            </div>
                            <div id="menu-it" class="ctools-content">
                                <ul class="facetapi-terms facetapi-facet-field-topic facetapi-processed" id="facetapi-facet-search-apidatasets-block-field-topic-it">
                                    <li class="leaf"><a onclick="loadMustache('Agricoltura, pesca, silvicoltura e prodotti alimentari','it')" id="facetapi-link-it-63"><img src="../images/agricoltura.PNG" style="margin-right:2px">Agricoltura, pesca, silvicoltura e prodotti alimentari</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Istruzione, cultura e sport','it')" id="facetapi-link-it-65"><img src="../images/istruzione.PNG" style="margin-right:2px">Istruzione, cultura e sport</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Trasporti','it')" id="facetapi-link-it-94"><img src="../images/trasporti.PNG" style="margin-right:2px">Trasporti</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Energia','it')" id="facetapi-link-it-45"><img src="../images/energia.PNG" style="margin-right:2px">Energia</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Regioni e citt','it')" id="facetapi-link-it-46"><img src="../images/regioni.PNG" style="margin-right:2px">Regioni e citta'</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Governo e settore pubblico','it')" id="facetapi-link-it-47"><img src="../images/governo.PNG" style="margin-right:2px">Governo e settore pubblico</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Ambiente','it')" id="facetapi-link-it-48"><img src="../images/ambiente.PNG" style="margin-right:2px">Ambiente</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Economia e finanze','it')" id="facetapi-link-it-49"><img src="../images/economia.PNG" style="margin-right:2px">Economia e finanze</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Salute','it')" id="facetapi-link-it-68"><img src="../images/salute.PNG" style="margin-right:2px">Salute</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Tematiche internazionali','it')" id="facetapi-link-it-72"><img src="../images/international.PNG" style="margin-right:2px">Tematiche internazionali</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Giustizia, sistema giuridico e sicurezza pubblica','it')" id="facetapi-link-it-71"><img src="../images/giustizia.PNG" style="margin-right:2px">Giustizia, sistema giuridico e sicurezza pubblica</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Popolazione e societ','it')" id="facetapi-link-it-70"><img src="../images/popolazione.PNG" style="margin-right:2px">Popolazione e societa'</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Scienza e tecnologia','it')" id="facetapi-link-it-69"><img src="../images/scienza.PNG" style="margin-right:2px">Scienza e tecnologia</a></li>
                                </ul>
                            </div>
                            <div id="title-menu-en" class="ctools-toggle">
                                <b class="Cl-Title-Theme">Themes</b>
                            </div>
                            <div id="menu-en" class="ctools-content">
                                <ul class="facetapi-terms facetapi-facet-field-topic facetapi-processed" id="facetapi-facet-search-apidatasets-block-field-topic-en">
                                    <li class="leaf"><a onclick="loadMustache('Agriculture, fisheries, forestry and food','en')" id="facetapi-link-en-63"><img src="../images/agricoltura.PNG" style="margin-right:2px">Agriculture, fisheries, forestry and food</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Education, culture and sport','en')" id="facetapi-link-en-65"><img src="../images/istruzione.PNG" style="margin-right:2px">Education, culture and sport</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Transport','en')" id="facetapi-link-en-94"><img src="../images/trasporti.PNG" style="margin-right:2px">Transport</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Energy','en')" id="facetapi-link-en-45"><img src="../images/energia.PNG" style="margin-right:2px">Energy</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Regions and cities','en')" id="facetapi-link-en-46"><img src="../images/regioni.PNG" style="margin-right:2px">Regions and cities</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Government and public sector','en')" id="facetapi-link-en-47"><img src="../images/governo.PNG" style="margin-right:2px">Government and public sector</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Environment','en')" id="facetapi-link-en-48"><img src="../images/ambiente.PNG" style="margin-right:2px">Environment</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Economy and finance','en')" id="facetapi-link-en-49"><img src="../images/economia.PNG" style="margin-right:2px">Economy and finance</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Health','en')" id="facetapi-link-en-68"><img src="../images/salute.PNG" style="margin-right:2px">Health</a></li>
                                    <li class="leaf"><a onclick="loadMustache('International issues','en')" id="facetapi-link-en-72"><img src="../images/international.PNG" style="margin-right:2px">International issues</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Justice, legal system and public safety','en')" id="facetapi-link-en-71"><img src="../images/giustizia.PNG" style="margin-right:2px">Justice, legal system and public safety</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Population and society','en')" id="facetapi-link-en-70"><img src="../images/popolazione.PNG" style="margin-right:2px">Population and society</a></li>
                                    <li class="leaf"><a onclick="loadMustache('Science and technology','en')" id="facetapi-link-en-69"><img src="../images/scienza.PNG" style="margin-right:2px">Science and technology</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 radix-layouts-content panel-panel">
                    <div class="panel-panel-inner">
                        <div class="panel-pane pane-views-panes pane-dkan-datasets-panel-pane-1">
                            <p id="target">
                                <div id="select-theme-it">
                                    Seleziona un tema dall'elenco
                                </div>
                                <div id="select-theme-en">
                                    Select a theme from the list
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
