<?xml version="1.0"?>
<configuration>
  <!-- Note for logging configuration please look at log4net.config-->
  <configSections>
    <section name="corsSettings" type="Estat.Sri.Ws.CorsModule.CorsConfigSection, Estat.Sri.Ws.CorsModule"/>
    <sectionGroup name="estat.nsi.ws.config">
      <section name="auth" type="Estat.Nsi.AuthModule.AuthConfigSection, Estat.Nsi.AuthModule"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Estat.Sri.Ws.Header.Default.Constants.HeaderSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="estat.sri">
      <section name="mapping.store" type="Estat.Sri.MappingStoreRetrieval.Config.MappingStoreConfigSection, Estat.Sri.Utils"/>
      <section name="module" type="Estat.Sdmxsource.Extension.Config.ModuleConfigSection, Estat.SdmxSource.Extension"/>
    </sectionGroup>
    <!--  <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" /> -->
    <section name="FormatMapping" type="Estat.Sri.Ws.Controllers.Model.FormatMapping, Estat.Sri.Ws.Controllers"/>
  </configSections>
  <connectionStrings>
    <!-- Replace HOST with hostname or IP address of the server/PC running mapping store database -->
    <!-- Replace MADB with Mapping store database -->
    <!-- Replace USER with Mapping store database user name -->
    <!-- Replace PASS with Mapping store database user password -->
    <!-- Uncomment only one <add.../> at a time.-->
    <!-- Sql Server without any instance-->
    <!--<add name="MappingStoreServer" connectionString="Data Source=HOST;Initial Catalog=MADB;Integrated Security=False;User ID=USER;Password=PASS"
     providerName="System.Data.SqlClient" />-->
    <!-- Sql Server Express-->
    <!--<add name="MappingStoreServer" connectionString="Data Source=HOST\sqlexpress;Initial Catalog=MADB;Integrated Security=False;User ID=USER;Password=PASS"
     providerName="System.Data.SqlClient" />-->
    <!-- Sql Server Express on localhost using integral security-->
    <!--<add name="MappingStoreServer" connectionString="Data Source=HOST\sqlexpress;Initial Catalog=MADB;Integrated Security=False;User ID=USER;Password=PASS"
     providerName="System.Data.SqlClient" />-->
    <!-- Oracle Express using the Oracle ODP.NET provider -->
    <!--<add name="MappingStoreServer" connectionString="Data Source=HOST/MADB;User ID=USER;Password=PASS"
         providerName="Oracle.ManagedDataAccess.Client" />-->
    <!-- MySQL -->
    <!--<add name="MappingStoreServer" connectionString="server=HOST;user id=USER;password=PASS;database=MADB" providerName="MySql.Data.MySqlClient"/>-->
    <!-- The same applies to Authorization/Authentication database. Default name : 'authdb' but can be changed at dbAuth config below-->
    <!-- Example of using authtest db on localhost sqlexpress db-->
    <!--<add name="authdb" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=authtest;Integrated Security=False;User ID=USER;Password=PASS" providerName="System.Data.SqlClient" />-->
	<add name="authdb" connectionString="Data Source=src;Initial Catalog=AUTHDB;User Id=user;Password=pw" providerName="System.Data.SqlClient" />
    <add name="MappingStoreServer" connectionString="Data Source=src;Initial Catalog=MSDB;Integrated Security=False;User ID=user;Password=pw" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <!-- Default Header configuration -->
    <!--  Specify 'SettingsHeaderRetriever' to enable (default) -->
      <Estat.Sri.Ws.Header.Default.Constants.HeaderSettings>
      <!-- Mandatory values (test and senderid) -->
      <setting name="test" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="senderid" serializeAs="String">
        <value>SOME_NSI</value>
      </setting>
      <!-- Optional values -->
      <!--
      <setting name="receiverid" serializeAs="String">
        <value>ESTAT</value>
      </setting>
      -->
      <!--<setting name="truncated" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="name" serializeAs="String">
        <value>Trans46302</value>
      </setting>
      <setting name="sendercontactdepartment" serializeAs="String">
        <value>Statistics</value>
      </setting>
      <setting name="sendercontacttelephone" serializeAs="String">
        <value>210 2222222</value>
      </setting>
      <setting name="sendercontactfax" serializeAs="String">
        <value>210 00010999</value>
      </setting>
      <setting name="sendercontactx400" serializeAs="String">
        <value/>
      </setting>
      <setting name="sendercontacturi" serializeAs="String">
        <value>http://www.sdmx.org</value>
      </setting>
      <setting name="receivercontacttelephone" serializeAs="String">
        <value>210 1234567</value>
      </setting>
      <setting name="receivercontactfax" serializeAs="String">
        <value>210 3810999</value>
      </setting>
      <setting name="receivercontactx400" serializeAs="String">
        <value>lalala</value>
      </setting>
      <setting name="receivercontacturi" serializeAs="String">
        <value>http://www.sdmx.org</value>
      </setting>
      <setting name="datasetagency" serializeAs="String">
        <value>BIS</value>
      </setting>
      <setting name="datasetaction" serializeAs="String">
        <value>Append</value>
      </setting>
      <setting name="reportingbegin" serializeAs="String">
        <value>2000-12-01T00:00:00</value>
      </setting>
      <setting name="reportingend" serializeAs="String">
        <value>2006-01-01T00:00:00</value>
      </setting>
      <setting name="lang" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="id" serializeAs="String">
        <value>IT1001</value>
      </setting>
      <setting name="prepared" serializeAs="String">
        <value>2001-03-11T09:30:47-05:00</value>
      </setting>
      <setting name="sendername" serializeAs="String">
        <value>Italian Statistical Institute</value>
      </setting>
      <setting name="sendercontactname" serializeAs="String">
        <value>Francesco Rizzo</value>
      </setting>
      <setting name="sendercontactrole" serializeAs="String">
        <value>IT Staff</value>
      </setting>
      <setting name="sendercontactemail" serializeAs="String">
        <value>rizzo@istat.it</value>
      </setting>
      <setting name="receivername" serializeAs="String">
        <value>Eurostat</value>
      </setting>
      <setting name="receivercontactname" serializeAs="String">
        <value>Bengt-Ake Lindblad</value>
      </setting>
      <setting name="receivercontactdepartment" serializeAs="String">
        <value>Information Technology</value>
      </setting>
      <setting name="receivercontactrole" serializeAs="String">
        <value>IT Staff</value>
      </setting>
      <setting name="receivercontactemail" serializeAs="String">
        <value>bengt-ake.lindblad@ec.europa.eu</value>
      </setting>
      <setting name="datasetid" serializeAs="String">
        <value>ISTAT_JD_237</value>
      </setting>
      <setting name="extracted" serializeAs="String">
        <value>2001-03-11T09:30:47-05:00</value>
      </setting>
      <setting name="source" serializeAs="String">
        <value>source</value>
      </setting>
      <setting name="keyfamilyref" serializeAs="String">
        <value>kfRef</value>
      </setting>
      <setting name="keyfamilyagency" serializeAs="String">
        <value>kfAg</value>
      </setting>-->
    </Estat.Sri.Ws.Header.Default.Constants.HeaderSettings>
  </applicationSettings>
  <appSettings>
    <!-- Default header retriever. Should match the class name of the IHeaderRetrievalManager implementation. The DLL is expected to be found in the Plugins folder-->
    <add key="defaultHeaderRetriever" value="SettingsHeaderRetriever"/>
    <!-- The dataflow log file separator -->
    <add key="log.df.file.separator" value=";"/>
    <!-- The folder that contains the plugins.-->
    <!-- If it is not absolute then the path is relative to the bin path. -->
    <add key="pluginFolder" value="Plugins"/>
    <add key="authXmlLocation" value="App_data/auth.xml" />
    
    <!-- Obsolete -->
    <add key="storeIdFromUrl" value="^/login/token$"/>
    <!--<add key="path" value="c:\instantclient11_xcopy_64bit"/>-->
    <!--<add key="bin32" value="win32"/>-->
    <!--<add key="bin64" value="x64"/>-->
    <!-- The following setting is obsolete. Please use ddbSettings below-->
    <!--<add key="defaultDDBOracleProvider" value="Oracle.DataAccess.Client"/>-->
    <!-- Registry Interface SubmitStructure enable/disable. 
        WARNING ENABLING THIS ALLOWS ANYONE TO WRITE STRUCTURAL METADATA TO THE MAPPING STORE DATABASE -->
    <!-- Requires execute procedure and  -->
    <add key="enableSubmitStructure" value="true"/>
    <!-- Allow including local data as annotations -->
    <add key="AllowLocalDataAsAnnotations" value="false"/>
    <!-- Change the size of message that can be received -->
    <add key="MaxReceivedMessageSize" value="10485760"/>
    <!-- Uncomment and change the location to use an external config file 
     <add key="configLocation" value="c:\ProgramData\Eurostat\nsiws.config"/> -->
    <!-- 12.1 ISTAT ENHANCEMENT -->
    <add key="datastructure.final.attributes.referenceNonFinal" value="false"/>
    <add key="dbConnectionBuilderDll" value="Estat.Sri.Mapping.MappingStore"/>
    <!-- Uncomment the following lines to enable Browser side caching-->
    <!-- The Cache-Control: max age value in seconds for data requests -->
    <!-- <add key="data.cache-control.max-age" value="3600"/> -->
    <!-- The Cache-Control: max age value in seconds for structure requests -->
    <!-- <add key="structure.cache-control.max-age" value="86400"/> -->

    <!-- Uncomment the following lines to enable Server side caching
         Please note this setting cannot be enabled if the Browser side caching above is enabled -->
    <!-- The output caching, OutputCache-Control: MaxAge value in seconds -->
    <!--<add key="outputcache.max-age" value="3600"/>-->

    <!--Set to true to enable authentication middleware -->
    <add key="estat.nsi.ws.config.auth" value="false"/>
    <!--Set to true to enable cors middleware -->
    <add key="corsSettings" value="false"/>
    <!--Set to true to enable policy  middleware -->
    <add key="estat.sri.ws.policymodule" value="false"/>
    <!--A comma separated string that determines the order for the middleware implementations -->
    <add key="middlewareImplementation" value="CorsMiddlewareBuilder,AuthMiddlewareBuilder,LoggingOptionsBuilder,UserAuthorizationRulesMiddlerwareBuilder,PolicyModuleMiddlewareBuilder"/>
  </appSettings>

  <estat.nsi.ws.config>
    <!-- authentication configuration-->
    <auth anonymousUser="" realm="nsiws">
      <userCredentialsImplementation type="UserCredentialsHttpBasic"/>
      <!-- The AUTH DB provider. It looks for a connection string with name equal to "authdb"-->
      <authenticationImplementation type="EstatSriSecurityAuthenticationProvider"/>
      <!-- Legacy options that use the Auth Schema and Test Auth config -->
      <!--
      <authenticationImplementation type="DbAuthenticationProvider"/>
      <authorizationImplementation type="DbAuthorizationProvider"/>
      <dbAuth>
        <authentication sql="select password from users where userid=${user}" connectionStringName="authdb"/>
        <authorization sql="select d.id as ${id}, d.ver as ${version}, d.agency as ${agencyId} from users u inner join user_df ud on u.pk=ud.user_pk inner join dfs d on d.pk = ud.df_pk where u.userid=${user}"/>
      </dbAuth>
      -->
    </auth>
  </estat.nsi.ws.config>
  <!-- Uncomment to enable CORS-->
  <corsSettings>
    <corsCollection>
      <!-- Allow CORS to any caller, to restrict change * to allowed domain, if multiple allowed domains can access NSI webservice then use as many add nodes as needed -->
      <!-- <add domain="http://localhost:3030" allowed-methods="GET,POST" allowed-headers="Range" /> -->
      <!-- <add domain="*" allowed-methods="GET,POST,PUT" allowed-headers="Range, Origin, Authorization, X-Level" allow-credentials="true" exposed-headers="Location" /> -->
    </corsCollection>
  </corsSettings>
  <estat.sri>
    <!--value to determine if the application should insert new item scheme values-->
     <mapping.store InsertNewItems="true">
      <Dataflow ignoreProductionFlagForStructure="true" />
      <!-- General Database settings apply to both Mapping Store (MSDB) and dissemination databases (DDB) -->
      <!-- Options are: -->
      <!-- provider : The .NET DB Provider name. Mandatory and unique -->
      <!-- subStringCmd : The substring command. Defaults to : SUBSTR -->
      <!-- subStringNeedsLength : Whether the substring command requires to specify the length. Defaults to : false -->
      <!-- parameterMarkerFormat : The named parameter format. Mandatory. -->
      <!-- castToStringFormat : The format text that should be used to cast to string. Defaults to: {0} -->
      <!-- dateCast : The date cast command. Defaults to "" -->
      <!-- subQueryOrderByAllowed : Whether a sub query can have an order by. Defaults to true. -->
      <DatabaseSettings>
        <clear/>
        <add provider="System.Data.SqlClient" subStringCmd="SUBSTRING" subStringNeedsLength="true" parameterMarkerFormat="@{0}" castToStringFormat="CAST({0} AS VARCHAR)" subQueryOrderByAllowed="false" CommandTimeout="300" reservedKeywordToStringFormat="[{0}]" />
        <add provider="Oracle.ManagedDataAccess.Client" parameterMarkerFormat=":{0}" dateCast="DATE" reservedKeywordToStringFormat="&quot;{0}&quot;" />
        <!-- Please note that System.Data.OracleClient is obsolete and no longer maintained by Microsoft. -->
        <add provider="System.Data.OracleClient" parameterMarkerFormat=":{0}" dateCast="DATE" reservedKeywordToStringFormat="&quot;{0}&quot;"/>
        <add provider="MySql.Data.MySqlClient" parameterMarkerFormat="@{0}" dateCast="DATE" reservedKeywordToStringFormat="`{0}`"/>
        <!-- DDB only providers -->
        <add provider="Org.Estat.PcAxis.PcAxisProvider" parameterMarkerFormat="@{0}"/>
        <!-- ODBC options depend on the ODBC driver used. -->
        <add provider="System.Data.Odbc" parameterMarkerFormat="?" subStringCmd="SUBSTRING" subStringNeedsLength="true" castToStringFormat="CAST({0} AS VARCHAR)" subQueryOrderByAllowed="false"/>
      </DatabaseSettings>
      <!--  Database settings  -->
      <!-- Options are: -->
      <!-- name : The DDB provider name. Mandatory and unique. This is used for mapping a DDB type to a driver -->
      <!-- provider : The .NET DB Provider name. -->
      <ddbSettings>
        <clear/>
        <add name="SqlServer" provider="System.Data.SqlClient" factoryClass="" dllName=""/>
        <add name="Oracle" provider="Oracle.ManagedDataAccess.Client" factoryClass="Oracle.ManagedDataAccess.Client.OracleClientFactory" dllName="Oracle.ManagedDataAccess"/>
        <add name="PCAxis" provider="org.estat.PcAxis.PcAxisProvider" factoryClass="Org.Estat.PcAxis.PcAxisProvider" dllName="PcAxis"/>
        <add name="MySQL" provider="MySql.Data.MySqlClient" factoryClass="MySql.Data.MySqlClient.MySqlClientFactory" dllName="MySql.Data"/>
        <add name="Odbc" provider="System.Data.Odbc" factoryClass="System.Data.Odbc.OdbcFactory" dllName="System.Data.Odbc"/>
      </ddbSettings>
    </mapping.store>
    <module>
      <retrievers>
        <!-- First provider to be tried -->
        <add name="MappingStoreRetrieversFactory"/>
        <!-- Second provider to be tried. It will tried only if first cannot serve the result.-->
        <!-- <add name="SomeFactoryId"/>-->
        <!-- Third -->
        <!-- etc. -->
      </retrievers>
    </module>
  </estat.sri>
  <FormatMapping>
    <Mappings>
      <Mapping Format="genericdata" AcceptHeader="application/vnd.sdmx.genericdata+xml"/>
      <Mapping Format="jsondata" AcceptHeader="application/vnd.sdmx.data+json"/>
      <Mapping Format="structure" AcceptHeader="application/vnd.sdmx.structure+xml"/>
      <Mapping Format="structurespecificdata" AcceptHeader="application/vnd.sdmx.structurespecificdata+xml"/>
      <Mapping Format="csv" AcceptHeader="application/vnd.sdmx.data+csv"/>
    </Mappings>
  </FormatMapping>
  <!--<system.data>
    <DbProviderFactories>
      --><!-- PC Axis driver --><!--
      --><!--<add name="Pc Axis Provider" invariant="org.estat.PcAxis.PcAxisProvider" description=".Net Framework Data Provider for Pc-Axis" type="Org.Estat.PcAxis.PcAxisProvider.PcAxisFactory, PcAxis, Version=1.0.1.0, Culture=neutral, PublicKeyToken=null" />--><!--
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>-->
</configuration>